<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <!-- 콘솔에 로그 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 날짜별로 로그 파일을 생성하여 저장 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- 날짜별로 로그 파일 롤링 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일 이름 패턴: 날짜별로 로그 파일 생성 -->
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- 최대 30일간 로그 파일을 보관 -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>300MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <!-- 로그 패턴 설정 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>-->
<!--        </layout>-->
<!--    </appender>-->

    <root level="DEBUG">
<!--        <appender-ref ref="STDOUT"/>-->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE" />
    </root>

<!--    <logger name="com.doci" additivity="false"> &lt;!&ndash; 콘솔에 출력된 LogController 에 대해서 아래 작업을 실행한다.&ndash;&gt;-->
<!--        <level value = "DEBUG" /> &lt;!&ndash; DEBUG 레벨 이상에서만 실행한다. &ndash;&gt;-->
<!--        <appender-ref ref="FILE" />-->
<!--    </logger>-->
</configuration>
